extends base.pug

block head
    title title

block body
    h1 Welcome back, #{username}
    each post in posts
        div(class="row")
            div(class="col")
                hr
                h2= post.title
                p= post.message
            